{% extends 'base/base.html'%}
{% block content %}
<ol class="breadcrumb">
	<li class="breadcrumb-item">
		<a href="#">Clientes</a>
    </li>
        <li class="breadcrumb-item active">Listado</li>
</ol>
<div class="card mb-3">
	<div class="card-header"><i class="fa fa-table"></i> Clientes Existentes</div>
	<div class="card-body">
		<div class="table-responsive">
			<table id="tabla1" class="table table-bordered">
				<thead>
					<tr>
						<th>Codigo</th>
						<th>Nombre</th>
						<th>Apellidos</th>
						<th>Dirección</th>
						<th>Telefono</th>
						<th>Email</th>
						<th>Cantidad de mascotas</th>
						<th>Acciones</th>
					</tr>
				</thead>
				<tbody>
					{% if object_list %}
					{% for clientes in object_list %}
					<tr>
						<td>{{ clientes.codigo}}</td>
						<td>{{ clientes.nombres }}</td>
						<td>{{ clientes.apellidos }}</td>
						<td>{{ clientes.direccion }}</td>
						<td>{{ clientes.telefono }}</td>
						<td>{{ clientes.email }}</td>
						<td>{{ clientes.numero_Mascotas }}</td>
						<td class="text-center">
							<a class="btn btn-primary" href="{% url 'clientes:mascota_listar' clientes.id %}"><i class="fa fa-paw"></i>   Ver Mascotas</a>
							<a class="btn btn-primary" href="{% url 'clientes:cliente_editar' clientes.id %}"><i class="fa fa-pencil-square-o"></i>  Editar</a>
						</td>
					</tr>
					{% endfor %}
					{% else %}
					<h3>No hay registros </h3>
					{% endif %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}