{% extends 'base/base.html'%}

{% block content %}
<ol class="breadcrumb">
	<li class="breadcrumb-item">
		<a href="{% url 'clientes:clientes_listar' %}">Clientes</a>
    </li>
        <li class="breadcrumb-item active">Listado de Mascotas</li>
</ol>
<div class="card mb-3">
	<div class="card-header"><i class="fa fa-table"></i> Mascotas Existentes de {{Cliente}}</div>
	<div class="card-body">
		<div class="table-responsive">
			<table class="table table-bordered" width="100%" cellspacing="0">
				<thead>
					<tr>
						<th>Codigo</th>
						<th>Nombre</th>
						<th>Raza</th>
						<th>Edad</th>
						<th>Genero</th>
						<th>Tipo de mascota</th>
						<th>Estado</th>
						<th>Acciones</th>
					</tr>
				</thead>
				<tbody>
					{% if Mascotas %}
					{% for mascota in Mascotas %}
					<tr>
						<td>{{ mascota.codigo }}</td>
						<td>{{ mascota.nombre }}</td>
						<td>{{ mascota.raza }}</td>
						<td>{{ mascota.edad }}</td>
						<td>{{ mascota.genero }}</td>
						<td>{{ mascota.tipo_mascota }}</td>
						{% if mascota.estado %}
							<td>Activo</td>
						{% else %}
							<td>Inactivo</td>
						{% endif %}
						<td class="text-center">
							<a class="btn btn-primary" href="{% url 'clientes:mascota_editar' mascota.id %}"><i class="fa fa-pencil-square-o"></i>  Editar</a>
							<a class="btn btn-primary" href="{% url 'carnet:mascota_carnets' mascota.id %}"><i class="fa fa-address-card"></i>   Ver Carnets</a>
							<a class="btn btn-primary" href="{% url 'clientes:matar_mascota' mascota.id %}"><i class="fa fa-ban"></i>  Anular Mascota</a>
						</td>
					</tr>
					{% endfor %}
					{% else %}
					<h3>No hay mascotas registradas</h3>
					{% endif %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}