{% extends 'base/base.html'%}
{% block nombreEmpresa %}
    <a class="navbar-brand" href="{% url 'general:resumen_datos' %}">
      <i class="fa fa-fw fa-home"></i>
      <span class="navbar-brand">{{ nombreE }}</span>
    </a>
{% endblock %}
{% block content %}
<ol class="breadcrumb">
	<li class="breadcrumb-item">
		<a href="#">Ventas</a>
    </li>
        <li class="breadcrumb-item active">Listado</li>
</ol>
<div class="card mb-3">
	<div class="card-header">
		<i class="fa fa-table"></i> Ventas Realizadas</div>
	<div class="card-body">
		<div class="table-responsive">
			<table class="table table-bordered" width="100%" cellspacing="0">
				<thead>
					<tr>
						<th>Fecha</th>
						<th>Cliente</th>
						<th>Codigo Carnet</th>
						<th>Mascota</th>
						<th>Total Servicios</th>
						<th>Monto Total</th>
						<th>Acciones</th>
					</tr>
				</thead>
				<tbody>
					{% if ventas %}
					{% for venta in ventas %}
					<tr>
						<td>{{ venta.fecha }}</td>
						<td>{{ venta.carnet.mascota.cliente }}</td>
						<td>{{ venta.carnet.codigoC }}</td>
						<td>{{ venta.carnet.mascota.nombre }}</td>
						<td>{{ venta.cantidad }}</td>
						<td>Q {{ venta.total }}</td>
						<td class="text-center">
							<a class="btn btn-primary" href="{% url 'ventas:ventas_detalle' venta.id %}"><i class="fa fa-info-circle"></i>  Ver Detalle</a>
						</td>
					</tr>
					{% endfor %}
					{% else %}
					<h3>No hay Servicios creados :( </h3>
					{% endif %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}