{% extends 'base/base.html'%}
{% block nombreEmpresa %}
    <a class="navbar-brand" href="{% url 'general:resumen_datos' %}">
      <i class="fa fa-fw fa-home"></i>
      <span class="navbar-brand">{{ nombreE }}</span>
    </a>
{% endblock %}
{% block content %}
<ol class="breadcrumb">
	<li class="breadcrumb-item">
		<a href="{% url 'ventas:ventas_listar' %}">Ventas</a>
    </li>
    <li class="breadcrumb-item active">Listado</li>
</ol>
<div class="card mb-3">
	<div class="card-header">
		<i class="fa fa-table"></i> Detalle de la Venta</div>
	<div class="card-body">
		<!--Colocar un encabezado-->
		<div class="table-responsive">
			<table class="table table-bordered" width="100%" cellspacing="0">
				<thead>
					<tr>
						<th>Servicio</th>
						<th>Precio</th>
					</tr>
				</thead>
				<tbody>
					{% if detalles %}
					{% for detalle in detalles %}
					<tr>
						<td>{{ detalle.servicio}}</td>
						<td>£ {{ detalle.servicio.precio }}</td>
					</tr>
					{% endfor %}
					{% else %}
					<h3>Esta Venta no tiene detalles</h3>
					{% endif %}
				</tbody>
			</table>
		</div>
		<div class="card-header">
			<div class="row">
				<div class="col-sm-8">
				</div>
				<div class="col-sm-2">
					<h6 align="right" class="card-text">Total</h6>
				</div>
				<div class="col-sm-2">
					<h6 align="center" class="card-text" id="campoT">£ {{total}}</h6>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}