{% extends 'base/base.html'%}
{% block nombreEmpresa %}
    <a class="navbar-brand" href="{% url 'general:resumen_datos' %}">
      <i class="fa fa-fw fa-home"></i>
      <span class="navbar-brand">{{ nombreE }}</span>
    </a>
{% endblock %}
{% block content %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
<script type="text/javascript">
    var serviciosS = [];
    serviciosS.push(0);//se crea el por defecto
    $(function () {
        $('.add-row').click(function() {
            addForm(this, 'form');
            var fil = $("#id_forms_table").find(".dynamic-form").last();
            $(fil).find("#sub").text("0.00");
            serviciosS.push(0);
        });
        $('.delete-row').click(function() {
            var padre = $(this).parent();
            padre = $(padre).parent();
            var index = padre.index();
            console.log("Fila " , index);
            if(index>0){
                var eliminado = serviciosS.splice(index, 1);
                console.log("eliminado " , eliminado);
                deleteForm(this, 'form');
            }
            else{
                alert("No puede eliminar el ultimo servicio");
            }
            calcularTotal()
        });
        $('#serv').change(function() {
            //var dfdfdf = $(this).index
            //console.log("index " , dfdfdf);
            var optionSelected = $(this).find("option:selected");//se obtiene el seleccionado
            var padre = $(this).parent();
            console.log("dfadfd " , padre.index())
            var index = optionSelected.index();
            if(index != 0){
                var Id  = optionSelected.val();//se obtiene el id seleccionado
                //getPrecio(Id,padre);
                if(verificarServicio(Id,padre.index())==false){
                    alert("Servicio Repetido");
                    optionSelected.selectedIndex = 0;
                }
                else{
                    getExistencia(Id,padre);
                }
            }
        });
        function verificarServicio(Id,Index){
            var bandera = true;
            if(serviciosS.length == 0){
                serviciosS.push(Id);
                return true;
            }
            else{
                serviciosS.forEach(function (elemento, indice, array) {
                    if(elemento==Id){
                        bandera = false;
                    }
                });
                if(bandera){
                    serviciosS[Index] = Id;
                }
            }
            return bandera;
        }
        function getPrecio(Id,padre){
            //falta el editar cuando se elimina
            //cuando se agrega que inicie con 0 o en blanco
            var request = $.ajax({
                type: "GET",
                url: "{% url 'servicios:get_precio' %}",
                data: {
                    "id": Id,
                },
                success: function (data) {
                    var object = JSON.parse(data);
                    //verificar si no altera otras filas
                    $(padre).find('#sub').text(object.precio);
                    calcularTotal();
                }
            });
            return 0;
        }
        function getExistencia(Id,padre){
            var request = $.ajax({
                type: "GET",
                url: "{% url 'servicios:get_existencia' %}",
                data: {
                    "id": Id,
                    'datos[]': JSON.stringify(serviciosS),
                },
                success: function (data) {
                    var object = JSON.parse(data);
                    var respuesta = object.resp
                    var nombre = object.nombre
                    if(respuesta == false){
                        alert("Servicio " + nombre + " sin Existencias"); 
                    }else{
                        getPrecio(Id,padre);
                    }               
                }
            });
        }
        function calcularTotal(){
            var suma = 0.00;
            $(".dynamic-form").find('#sub').each(function(){
                suma+=parseFloat($(this).html()) || 0;
            });
            $("#campoT").text("Q " + suma);
        }

    });
</script>
<ol class="breadcrumb">
	<li class="breadcrumb-item">
		<a href="{% url 'ventas:ventas_listar' %}">Ventas</a>
    </li>
    <li class="breadcrumb-item active">Nueva Venta</li>
</ol>
<div class="card mb-3">
	<div class="card-header">
	<i class="fa fa-plus-square"></i>  Datos de la Venta</div>
	<div class="card-body">
		<form method="post" id="myForm">
			<!--token de seguridad, IMPORTANTE INCLUIRLO EN TODOS LOS FORMULARIOS-->
			{% csrf_token %} 
			{{form.as_p}}
			<div class="card-header">
			<i class="fa fa-table"></i> Agregar Servicios a la Venta</div>
			<div class="table-responsive">
				<table id="id_forms_table" class="table table-bordered" width="100%" cellspacing="0">
				<thead>
					<tr>
						<th>Servicio</th>
						<th>Precio Quetzales</th>
						<th>Accion</th>
					</tr>
				</thead>
				<tbody>
					{% for formd in form2 %}
					<tr id="{{ form.prefix }}-row" class="dynamic-form">
						<td id="serv">{{formd.servicio}}</td>
						<td id="sub" class="text-center">0.00</td>
						<td class="text-center">
							<a id="remove-{{ form.prefix }}-row" href="javascript:void(0)" class="delete-row"><i class="fa fa-minus-circle"></i>  Eliminar</a>
						</td>
					</tr>
					<tr>
		    	    </tr>
					{% endfor %}
				</tbody>
				<td colspan="4"><a href="javascript:void(0)" class="add-row"><i class="fa fa-plus-circle"></i>  Agregar Servicio</a></td>
				</table>
				<div class="card-header">
					<div class="row">
						<div class="col-sm-8">
							<button class="btn btn-primary" type="submit">
							<i class="fa fa-cart-plus"></i> Guardar</button>
						</div>
						<div class="col-sm-2">
							<h6 align="right" class="card-text">Total</h6>
						</div>
						<div class="col-sm-2">
							<h6 align="center" class="card-text" id="campoT">Q 0.00</h6>
						</div>
					</div>
				</div>
			</div>
			{{ form2.management_form }}
		</form>
	</div>
</div>
{% endblock %}