{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  {% block Title %}
  <title>VetCare</title>
  {% endblock %}
  <!-- Bootstrap core CSS-->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'vendor/datatables/dataTables.bootstrap4.css' %}" rel="stylesheet">
  <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin.css' %}" rel="stylesheet">
</head>
<body class="bg-dark">
  <div class="container">
      <div class="card card-login mx-auto mt-5">
          <div class="card-header">Registro Usuario</div>
          <div class="card-body">
{% block content %}
<form method="post">
	{% csrf_token %}




</form>
{% endblock %}
  <!-- Bootstrap core JavaScript-->

</body>

</html>
