{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  {% block Title %}
  <title>Registro</title>
  {% endblock %}
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">


  <!-- Custom styles for this template-->
  <link href="{% static 'css/sb-admin.css' %}" rel="stylesheet">
</head>
{% block content %}
<form method="post">
	{% csrf_token %}

<body class="bg-dark">
  <div class="container">
    <div class="card card-register mx-auto mt-5">
      <div class="card-header">Crear Cuenta</div>
      <div class="card-body">
        <form>
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <label for="exampleInputName">Nombre</label>
                <input class="form-control" id="exampleInputName" type="text" aria-describedby="nameHelp" placeholder="Nombre" name="first_name">
              </div>
              <div class="col-md-6">
                <label for="exampleInputLastName">Apellido</label>
                <input class="form-control" id="exampleInputLastName" type="text" aria-describedby="nameHelp" placeholder="Apellido" name="last_name" >
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputUserName">Usuario</label>
            <input class="form-control" id="exampleInputUserName" type="text" aria-describedby="userHelp" placeholder="Usuario" name="username">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Correo</label>
            <input class="form-control" id="exampleInputEmail1" type="email" aria-describedby="emailHelp" placeholder="Correo" name="email">
          </div>
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <label for="exampleInputPassword1">Contraseña</label>
                <input class="form-control" id="exampleInputPassword1" type="password" placeholder="Contraseña" name="password1">
              </div>
              <div class="col-md-6">
                <label for="exampleConfirmPassword">Confirmar Contraseña</label>
                <input class="form-control" id="exampleConfirmPassword" type="password" placeholder="Confirmar Contraseña" name="password2">
              </div>
            </div>
          </div>

          	<button class="btn btn-primary btn-block" href="{% url 'login' %}" type="submit">Guardar</button>
        </form>
        <div class="text-center">
          <a class="d-block small mt-3" href="{% url 'login' %}">Pagina de login</a>
          <a class="d-block small" href="{% url 'password_reset' %}">Olvide mi contraseña</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
</body>

</html>
</form>
{% endblock %}
