{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  {% block Title %}
  <title>Olvidaste tu Contraseña</title>
  {% endblock %}
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">


  <!-- Custom styles for this template-->
  <link href="{% static 'css/sb-admin.css' %}" rel="stylesheet">
</head>
{% block content %}
<form method="post">
	{% csrf_token %}
<body class="bg-dark">
  <div class="container">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">Reiniciar contraseña</div>
      <div class="card-body">
        <div class="text-center mt-4 mb-5">
          <h4>Olvidaste tu contraseña?</h4>
          <p>Ingrea tu dirección de correo electrónico nosotros te enviaremos las intrucciones de como reiniciar tu contraseña.</p>
        </div>
        <form>
          <div class="form-group">
            <input class="form-control" id="exampleInputEmail1" type="email" aria-describedby="emailHelp" placeholder="Ingresa tu dirección de correo" name="email">
          </div>
          <input class="btn btn-primary btn-block" type="submit" value="Reiniciar contraseña"/>
        </form>
        <div class="text-center">
          <a class="d-block small"  href="{% url 'login' %}">Pagina de login</a>
          <a class="d-block small"  href="{% url 'usuario:registrar' %}">Crear cuenta</a>

        </div>
      </div>
    </div>
  </div>
  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
</body>

</html>
</form>
{% endblock %}
