{% extends 'base/baseUsuario.html' %}
{% block navbar%}
{% endblock %}
{% block content %}

<p></p>

<form method="post">
	  <div class="container">
			  <div class="card card-login mx-auto mt-5">
					<div class="card-header">Recuperar Contraseña</div>
					  <div class="card-body">
							  <form>
									  <div class="form-group">
			<h5>Utiliza la dirección de correo asociado a tu cuenta para recuperar la contraseña</h5>
	{% csrf_token %}
	<label for="id_email">Correo:</label> {{ form.email }}
	<input type="submit" value="Enviar"/>
	</div>
	</form>

	</div>

	<footer>
			{% block footer %}
			{% endblock %}

	</footer>
	</div>
	</div>

</form>

{% endblock %}
