{% extends 'base/baseUsuario.html' %}
{% block navbar %}
{% endblock %}
{% block content %}

{% if validlink %}

<form method="post">
	  <div class="container">
			  <div class="card card-login mx-auto mt-5">
					<div class="card-header">Nueva Contraseña</div>
					  <div class="card-body">

              <form method="post">
              {% csrf_token %}

              {{ form.new_password1.errors }}
              <label for="id_new_password1">.  .  Nueva contraseña:</label>
              {{ form.new_password1 }}
              {{ form.new_password2.errors }}
              <label for="id_new_password2">Confirme contraseña:</label>{{ form.new_password2 }}
              <input class="btn btn-primary btn-block" type="submit" value="Cambiar mi contraseña" />
              </form>

	</div>

	<footer>
			{% block footer %}
			{% endblock %}

	</footer>
	</div>
	</div>





{% else %}

<h1 class="text-center">ENLACE INVÁLIDO: ESTE ENLACE YA HA SIDO UTILIZADO</h1>

{% endif %}

{% endblock %}
