{% extends 'base/baseUsuario.html' %}

{% block navbar %}
{% endblock %}

{% block content %}

<form method="post">
	  <div class="container">
			  <div class="card card-login mx-auto mt-5">
					<div class="card-header"></div>
					  <div class="card-body">
							  <form>
									  <div class="form-group">
											<div class="container">
											<a class="text-center">Su contraseña se reestableció correctamente</a>


											<p class="text-center"><a  href="{% url 'login' %}">Iniciar sesión</a></p>
										</div>
	</div>
	</form>

	</div>

	<footer>
			{% block footer %}
			{% endblock %}

	</footer>
	</div>
	</div>
{% endblock %}
