{% extends 'base/baseUsuario.html' %}
{% block navbar%}
{% endblock%}
{% block content %}


<form method="post">
	  <div class="container">
			  <div class="card card-login mx-auto mt-5">
					<div class="card-header">Correo enviado</div>
					  <div class="card-body">
							  <form>
									  <div class="form-group">
<a>Te hemos enviado un correo con un enlace para reestablecer tu contraseña :D</a>
	</div>
	</form>

	</div>

	<footer>
			{% block footer %}
			{% endblock %}

	</footer>
	</div>
	</div>

{% endblock %}
