{% extends 'base/base.html'%}
{% block content %}
<ol class="breadcrumb">
	<li class="breadcrumb-item">
		<a href="{% url 'inventario:inventario_listar' %}">Inventario</a>
    </li>
        <li class="breadcrumb-item active">Listado</li>
</ol>
<div class="card mb-3">
	<div class="card-header">
		<i class="fa fa-table"></i> Insumos Existentes</div>
	<div class="card-body">
		<div class="table-responsive">
			<table class="table table-bordered" id="tabla1" width="100%" cellspacing="0">
				<thead>
					<tr>
						<th>Codigo</th>
						<th>Nombre</th>
						<th>Descripcion</th>
						<th>Precio</th>
						<th>Cantidad</th>
						<th>Acciones</th>
					</tr>
				</thead>
				<tbody>
					{% if object_list %}
					{% for inventario in object_list %}
					<tr>
						<td>{{ inventario.codigo }}</td>
						<td>{{ inventario.nombre }}</td>
						<td>{{ inventario.descripcion }}</td>
						<td>Q {{ inventario.precio }}</td>
						<td>{{ inventario.cantidad }}</td>
						<td class="text-center">
							<a class="btn btn-primary" href="{% url 'inventario:inventario_editar' inventario.id %}"><i class="fa fa-pencil-square-o"></i>  Editar</a>
						</td>
					</tr>
					{% endfor %}
					{% else %}
					<h3>No hay Insumos en el Inventario :( </h3>
					{% endif %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}