{% extends 'base/base.html'%}

{% block content %}
<ol class="breadcrumb">
	<li class="breadcrumb-item">
		<a href="{% url 'inventario:inventario_listar' %}">Inventario</a>
    </li>
        <li class="breadcrumb-item active">Crear Insumo</li>
</ol>
<div class="card mb-3">
	<div class="card-header">
		<i class="fa fa-plus-square"></i>  Datos del Insumo</div>
		<div class="card-body">
			<!-- Adentro de este div va lo que se quiera mostar-->
		<form method="post">
			<!--token de seguridad, IMPORTANTE INCLUIRLO EN TODOS LOS FORMULARIOS-->
			{% csrf_token %} 
			{{form.as_p}}
			<button class="btn btn-primary" type="submit">
				<i class="fa fa-check-square"></i> Guardar</button>
		</form>
		</div>
	</div>
</div>
{% endblock %}