{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>

	<title>Veterinaria</title>
	<link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
	<!-- Custom fonts for this template-->
	<link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
	<!-- Page level plugin CSS-->

	<!-- Custom styles for this template-->
	<link href="{% static 'css/sb-admin.css' %}" rel="stylesheet">
	{% block extrahead %}
	{% endblock %}
</head>
<body class="bg-dark">
	<div class="container">

	{% block content %}
	<h1>Hola :3 </h1>
	{% endblock %}

	{% block footer %}
	<footer>
		<div>
			<p>&copy; 2018 Grupito</p>
		</div>
	</footer>
	{% endblock%}

	</div>



</body>
</html>
