{% block footer %}
<footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>Copyright © Vetcare 2018 - Derechos Reservados</small>
        </div>
      </div>
    </footer>
{% endblock %}