{% extends 'base/base.html'%}
{% block nombreEmpresa %}
    <a class="navbar-brand" href="{% url 'general:resumen_datos' %}">
      <i class="fa fa-fw fa-home"></i>
      <span class="navbar-brand">{{ nombreE }}</span>
    </a>
    {% endblock %}
{% block content %}
<ol class="breadcrumb">
	<li class="breadcrumb-item">
		<a href="#">Resumen</a>
	</li>
	<li class="breadcrumb-item active">{{ nombreE }}</li>
</ol>
<!-- Icon Cards-->
<div class="row">
	<!-- Dato total Inventario-->
	<div class="col-xl-3 col-sm-6 mb-3">
		<div class="card text-white bg-primary o-hidden h-100">
			<div class="card-body">
				<div class="card-body-icon">
					<i class="fa fa-fw fa-barcode"></i>
				</div>
				<div class="mr-5">{{ insumos }} Insumos!</div>
			</div>
		</div>
	</div>
	<!-- Dato total Clientes-->
	<div class="col-xl-3 col-sm-6 mb-3">
		<div class="card text-white bg-warning o-hidden h-100">
			<div class="card-body">
				<div class="card-body-icon">
					<i class="fa fa-fw fa-users"></i>
				</div>
				<div class="mr-5">{{ clientes }} Clientes!</div>
			</div>
		</div>
	</div>
	<!-- Dato total Clientes-->
	<div class="col-xl-3 col-sm-6 mb-3">
		<div class="card text-white bg-success o-hidden h-100">
			<div class="card-body">
				<div class="card-body-icon">
					<i class="fa fa-fw fa-paw"></i>
				</div>
				<div class="mr-5">{{ mascotas }} Mascotas!</div>
			</div>
		</div>
	</div>
	<!-- Dato total Clientes-->
	<div class="col-xl-3 col-sm-6 mb-3">
		<div class="card text-white bg-danger o-hidden h-100">
			<div class="card-body">
				<div class="card-body-icon">
					<i class="fa fa-fw fa-medkit"></i>
				</div>
				<div class="mr-5">{{ servicios }} Servicios!</div>
			</div>
		</div>
	</div>
	<div class="col-xl-3 col-sm-6 mb-3">
		<div class="card text-white bg-primary o-hidden h-100">
			<div class="card-body">
				<div class="card-body-icon">
					<i class="fa fa-fw fa-user-circle"></i>
				</div>
				<div class="mr-5">{{ empleados }} Empleados!</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}