{% block navbar %}

  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    {% block nombreEmpresa %}
    <a class="navbar-brand" href="{% url 'general:resumen_datos' %}">
      <i class="fa fa-fw fa-home"></i>
      <span class="navbar-brand">VetCare</span>
    </a>
    {% endblock %}
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Inventario">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMenu1" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-shopping-cart"></i>
            <span class="nav-link-text">Inventario</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapseMenu1">
            <li>
              <a href="{% url 'inventario:inventario_crear' %}">Crear Insumo</a>
            </li>
            <li>
              <a href="{% url 'inventario:inventario_listar' %}">Mostrar Inventario</a>
            </li>
          </ul>
        </li>
       <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Clientes">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMenu2" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-male"></i>
            <span class="nav-link-text">Clientes y Mascotas</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapseMenu2">
            <li>
              <a href="{% url 'clientes:cliente_crear' %}">Crear Cliente</a>
            </li>
            <li>
              <a href="{% url 'clientes:mascota_crear' %}">Ingresar Mascota</a>
            </li>
            <li>
              <a href="{% url 'clientes:clientes_listar' %}">Mostrar Clientes</a>
            </li>
          </ul>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Mascotas">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMenu3" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-address-card"></i>
            <span class="nav-link-text">Carnets</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapseMenu3">
            <li>
              <a href="{% url 'carnet:carnet_crear' %}">Crear Carnet</a>
            </li>
            <li>
              <a href="{% url 'carnet:carnet_listar' %}">Mostrar Carnets</a>
            </li>
            <li>
              <a href="{% url 'carnet:carnet_proximaCita' %}">Programar un Servicio</a>
            </li>
          </ul>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Servicios">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMenu4" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-stethoscope"></i>
            <span class="nav-link-text">Servicios</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapseMenu4">
            <li>
              <a href="{% url 'servicios:servicios_crear' %}">Crear Servicio</a>
            </li>
            <li>
              <a href="{% url 'servicios:servicios_listar' %}">Mostrar Servicios</a>
            </li>
            <li>
              <a href="{% url 'ventas:ventas_crear' %}">Realizar Servicio</a>
            </li>
            <li>
              <a href="{% url 'ventas:ventas_listar' %}">Ver Ventas</a>
            </li>
          </ul>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Planilla">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMenu5" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-group"></i>
            <span class="nav-link-text">Planilla</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapseMenu5">
            <li>
              <a href="{% url 'planilla:empleados_crear' %}">Crear Empleado</a>
            </li>
            <li>
              <a href="{% url 'planilla:planilla_crear' %}">Crear Planilla</a>
            </li>
            <li>
              <a href="{% url 'planilla:planilla_listar' %}">Mostrar Planillas</a>
            </li>
          </ul>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Configuraciones">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMenu6" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-cog"></i>
            <span class="nav-link-text">Configuraciones</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapseMenu6">
            <li>
              <a href="{% url 'general:configuracion' 1 %}">Parametrizaciones</a>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="navbar-nav sidenav-toggler">
        <li class="nav-item">
          <a class="nav-link text-center" id="sidenavToggler">
            <i class="fa fa-fw fa-angle-left"></i>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">

            <a href="{% url 'logout' %}" class="nav-link" data-target="#exampleModal">
               <i class="fa fa-fw fa-sign-out"></i>Cerrar Sesión</a>


      </ul>
    </div>

  </nav>
  <!-- Bootstrap core JavaScript-->
    <script src="../../static/vendor/jquery/jquery.min.js"></script>
    <script src="../../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="../../static/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="../../static/js/sb-admin.min.js"></script>
    <!-- Custom scripts for this page-->
    <!-- Toggle between fixed and static navbar-->
  <script>
    $('#toggleNavPosition').click(function() {
      $('body').toggleClass('fixed-nav');
      $('nav').toggleClass('fixed-top static-top');
    });
    </script>
{% endblock %}
