{% extends 'base/base.html'%}
{% block content %}
<ol class="breadcrumb">
	<li class="breadcrumb-item">
		<a href="{% url 'planilla:planilla_listar' %}">Planilla</a>
    </li>
        <li class="breadcrumb-item active">Listado de Empleados</li>
</ol>
<div class="card mb-3">
	<div class="card-header">
		<i class="fa fa-table"></i>  Empleados Existentes</div>
	<div class="card-body">
		<div class="table-responsive">
			<table id="tabla1" class="table table-bordered" id="tabla1" width="100%" cellspacing="0">
				<thead>
					<tr>
						<th>Nombre</th>
						<th>Apellido</th>
						<th>Telefono</th>
						<th>No. de DPI</th>
						<th>Edad</th>
						<th>Genero</th>
						<th>Email</th>
						<th>Sueldo</th>
						<th>Acciones</th>
					</tr>
				</thead>
				<tbody>
					{% if object_list %}
					{% for empleados in object_list %}
					<tr>
						<td>{{ empleados.nombre }}</td>
						<td>{{ empleados.apellidos }}</td>
						<td>{{ empleados.telefono }}</td>
						<td>{{ empleados.dpi }}</td>
						<td>{{ empleados.edad }}</td>
						<td>{{ empleados.genero }}</td>
						<td>{{ empleados.email }}</td>
						<td>Q {{ empleados.sueldo }}</td>
						<td class="text-center">
							<a class="btn btn-primary" href="{% url 'planilla:empleado_editar' empleados.id %}"><i class="fa fa-pencil-square-o"></i>  Editar</a>
						</td>
					</tr>
					{% endfor %}
					{% else %}
					<h3>El historial de empleados está vacío</h3>
					{% endif %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}