{% extends 'base/base.html'%}

<script type="text/javascript">
	function tablas(){
var yea=document.getElementById("tabla1").rows.length;
alert(yea);
}
	
</script>

{% block content %}
<ol class="breadcrumb">
	<li class="breadcrumb-item">
		<a href="{% url 'planilla:planilla_listar' %}">Planilla</a>
    </li>
        <li class="breadcrumb-item active">Listado de Planillas</li>
</ol>
<div class="card mb-3">
	<div class="card-header">
		<i class="fa fa-table"></i>  Empleados Existentes</div>
	<div class="card-body">
		<div class="table-responsive">
			<table id="tabla1" class="table table-bordered" id="tabla1" width="100%" cellspacing="0">
				<thead>
					<tr>
						<th>Mes</th>
						<th>Año</th>
						<th>Total</th>
						<th>Acciones</th>
					</tr>
				</thead>
				<tbody>
					{% if object_list %}
					{% for planilla in object_list %}
					<tr>
						<td>{{ planilla.mes }}</td>
						<td>{{ planilla.anio }}</td>
						<td>Q {{ planilla.total_planilla }}</td>
						<td class="text-center">
							<a class="btn btn-primary" href="{% url 'planilla:empleados_listar' %}"><i class="fa fa-info-circle"></i>   Ver Empleados</a>
						</td>
					</tr>
					{% endfor %}
					{% else %}
					<h3>El historial de planillas está vacío</h3>
					{% endif %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}