{% extends 'base/base.html'%}
{% block nombreEmpresa %}
    <a class="navbar-brand" href="{% url 'general:resumen_datos' %}">
      <i class="fa fa-fw fa-home"></i>
      <span class="navbar-brand">{{ nombreE }}</span>
    </a>
{% endblock %}
{% block content %}
<ol class="breadcrumb">
	<li class="breadcrumb-item">
		<a href="#">Servicios</a>
    </li>
        <li class="breadcrumb-item active">Listado</li>
</ol>
<div class="card mb-3">
	<div class="card-header">
		<i class="fa fa-table"></i> Servicios Existentes</div>
	<div class="card-body">
		<div class="table-responsive">
			<table class="table table-bordered" width="100%" cellspacing="0">
				<thead>
					<tr>
						<th>Tipo de Servicio</th>
						<th>Precio</th>
						<th>Acciones</th>
					</tr>
				</thead>
				<tbody>
					{% if object_list %}
					{% for servicios in object_list %}
					<tr>
						<td>{{ servicios.tipo_servicio }}</td>
						<td>Q {{ servicios.precio }}</td>
						<td class="text-center">
							<a class="btn btn-primary" href="{% url 'servicios:servicios_detalle' servicios.id %}"><i class="fa fa-info-circle"></i>  Ver Detalle</a>
							<a class="btn btn-primary" href="{% url 'servicios:servicios_editar' servicios.id %}"><i class="fa fa-pencil-square-o"></i>  Editar</a>
						</td>
					</tr>
					{% endfor %}
					{% else %}
					<h3>No hay Servicios creados :( </h3>
					{% endif %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}