{% extends 'base/base.html'%}
{% block nombreEmpresa %}
    <a class="navbar-brand" href="{% url 'general:resumen_datos' %}">
      <i class="fa fa-fw fa-home"></i>
      <span class="navbar-brand">{{ nombreE }}</span>
    </a>
{% endblock %}
{% block content %}
<ol class="breadcrumb">
	<li class="breadcrumb-item">
		<a href="{% url 'servicios:servicios_listar' %}">Servicios</a>
    </li>
    <li class="breadcrumb-item active">Listado</li>
</ol>
<div class="card mb-3">
	<div class="card-header">
		<i class="fa fa-table"></i> Detalle de Insumos</div>
	<div class="card-body">
		<div class="table-responsive">
			<table class="table table-bordered" width="100%" cellspacing="0">
				<thead>
					<tr>
						<th>Insumo</th>
						<th>Cantidad</th>
					</tr>
				</thead>
				<tbody>
					{% if detalles %}
					{% for detalle in detalles %}
					<tr>
						<td>{{ detalle.inventario}}</td>
						<td>{{ detalle.cantidad }}</td>
					</tr>
					{% endfor %}
					{% else %}
					<h3>Este Servicio no tiene detalles</h3>
					{% endif %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}