{% extends 'base/base.html'%}
{% block nombreEmpresa %}
    <a class="navbar-brand" href="{% url 'general:resumen_datos' %}">
      <i class="fa fa-fw fa-home"></i>
      <span class="navbar-brand">{{ nombreE }}</span>
    </a>
{% endblock %}
{% block content %}

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
<script type="text/javascript">
    <!--
    $(function () {
        $('.add-row').click(function() {
    	    return addForm(this, 'form');
        });
        $('.delete-row').click(function() {
    	    return deleteForm(this, 'form');
        })
    });
</script>
<ol class="breadcrumb">
	<li class="breadcrumb-item">
		<a href="{% url 'servicios:servicios_listar' %}">Servicios</a>
    </li>
    <li class="breadcrumb-item active">Editar Servicio</li>
</ol>
<div class="card mb-3">
	<div class="card-header">
		<i class="fa fa-plus-square"></i>  Datos del Servicio</div>
		<div class="card-body">
			<!-- Adentro de este div va lo que se quiera mostar-->
			<form method="post" id="myForm">
				<!--token de seguridad, IMPORTANTE INCLUIRLO EN TODOS LOS FORMULARIOS-->
				{% csrf_token %} 
				{{form.as_p}}
				<div class="card-header">
				<i class="fa fa-table"></i> Agregar Insumos al servicio</div>
				<div class="table-responsive">
					<table id="id_forms_table" class="table table-bordered" width="100%" cellspacing="0">
						<thead>
							<tr>
								<th>Insumo</th>
								<th>Cantidad</th>
								<th>Accion</th>
							</tr>
						</thead>
						<tbody>
							{% for formd in form2 %}
							<tr id="{{ form.prefix }}-row" class="dynamic-form">
								<td>{{formd.inventario}}</td>
								<td>{{formd.cantidad}}</td>
								<td class="text-center">
									<a id="remove-{{ form.prefix }}-row" href="javascript:void(0)" class="delete-row">Eliminar</a>
								</td>
							</tr>
							<tr>
				    	    </tr>
							{% endfor %}
						</tbody>
					<td colspan="4"><a href="javascript:void(0)" class="add-row">Agregar Insumo</a></td>
					</table>
			</div>
			{{ form2.management_form }}
			<button class="btn btn-primary" type="submit">
				<i class="fa fa-edit"></i> Guardar</button>
		</form>
		</div>
	</div>
</div>
{% endblock %}