{% extends 'base/base.html'%}
{% block nombreEmpresa %}
    <a class="navbar-brand" href="{% url 'general:resumen_datos' %}">
      <i class="fa fa-fw fa-home"></i>
      <span class="navbar-brand">{{ nombreE }}</span>
    </a>
{% endblock %}
{% block content %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
<script type="text/javascript">
	var filasI = [];
	filasI.push(0);
    $(function () {
        $('.add-row').click(function() {
        	filasI.push(0);
    	    addForm(this, 'form');
    	    var fil = $("#id_forms_table").find(".dynamic-form").last();
            $(fil).find("#sub").text("£ 0.00");
        });
        $('.delete-row').click(function() {
        	var padre = $(this).parent();
            padre = $(padre).parent();
            var index = padre.index();
        	if(index>0){
        		filasI.splice(index, 1);
        		deleteForm(this, 'form');
        	}
        	else{
        		alert("No puede eliminar el primero");
        	}
        });
        $('#inv').change(function() {
            var optionSelected = $(this).find("option:selected");//se obtiene el seleccionado
            var padre = $(this).parent();
            console.log("dfadfd " , padre.index())
            var index = optionSelected.index();
            if(index != 0){
                var Id  = optionSelected.val();//se obtiene el id seleccionado
                if(verificarInsumo(Id,padre.index())==false){
                    alert("Insumo Repetido");
                    optionSelected.selectedIndex = 0;
                }
                else{
                	getPrecio(Id,padre);
                    //getExistencia(Id,padre);
                }
            }
        });
        function verificarInsumo(Id,Index){
            var bandera = true;
            if(filasI.length == 0){
                filasI.push(Id);
                return true;
            }
            else{
                filasI.forEach(function (elemento, indice, array) {
                    if(elemento==Id){
                        bandera = false;
                    }
                });
                if(bandera){
                   	filasI[Index] = Id;
                }
            }
            return bandera;
        }
        function getPrecio(Id,padre){
            //falta el editar cuando se elimina
            //cuando se agrega que inicie con 0 o en blanco
            var request = $.ajax({
                type: "GET",
                url: "{% url 'inventario:get_precio' %}",
                data: {
                    "id": Id,
                },
                success: function (data) {
                    var object = JSON.parse(data);
                    //verificar si no altera otras filas
                    $(padre).find('#sub').text("£ " + object.precio);
                    //calcularTotal();
                }
            });
            return 0;
        }
    });

</script>
<ol class="breadcrumb">
	<li class="breadcrumb-item">
		<a href="{% url 'servicios:servicios_listar' %}">Servicios</a>
    </li>
    <li class="breadcrumb-item active">Crear Nuevo Servicio</li>
</ol>
<div class="card mb-3">
	<div class="card-header">
		<i class="fa fa-plus-square"></i>  Datos del Servicio</div>
		<div class="card-body">
			<!-- Adentro de este div va lo que se quiera mostar-->
		<form method="post" id="myForm">
			<!--token de seguridad, IMPORTANTE INCLUIRLO EN TODOS LOS FORMULARIOS-->
			{% csrf_token %} 
			{{form.as_p}}
			<div class="card-header">
			<i class="fa fa-table"></i> Agregar Insumos al servicio</div>
			<div class="table-responsive">
				<table id="id_forms_table" class="table table-bordered" width="100%" cellspacing="0">
				<thead>
					<tr>
						<th>Insumo</th>
						<th>Precio Insumo</th>
						<th>Cantidad</th>
						<th>Accion</th>
					</tr>
				</thead>
				<tbody>
					{% for formd in form2 %}
					<tr id="{{ form.prefix }}-row" class="dynamic-form">
						<td id="inv">{{formd.inventario}}</td>
						<td id="sub">£ 0.00</td>
						<td>{{formd.cantidad}}</td>
						<td class="text-center">
							<a id="remove-{{ form.prefix }}-row" href="javascript:void(0)" class="delete-row"><i class="fa fa-minus-circle"></i>  Eliminar</a>
						</td>
					</tr>
					<tr>
		    	    </tr>
					{% endfor %}
				</tbody>
				<td colspan="4"><a href="javascript:void(0)" class="add-row"><i class="fa fa-plus-circle"></i>  Agregar Insumo</a></td>
			</table>
			</div>
			{{ form2.management_form }}
			<button class="btn btn-primary" type="submit">
				<i class="fa fa-check-square"></i> Guardar</button>
		</form>
		</div>
	</div>
</div>
{% endblock %}