{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  {% block Title %}
  <title>Login</title>
  {% endblock %}
  <!-- Bootstrap core CSS-->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
  <!-- Page level plugin CSS-->
  <link href="{% static 'vendor/datatables/dataTables.bootstrap4.css' %}" rel="stylesheet">

  <link href="{% static 'css/bootstrap-social.css' %}" rel="stylesheet" >
  <!-- Custom styles for this template-->
  <link href="{% static 'css/sb-admin.css' %}" rel="stylesheet">
</head>
<body class="bg-dark">
  <div class="container">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header"><i class="fa fa-paw"></i>     Login</div>
      <div class="card-body">
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
              <label for="exampleInputEmail1">Nombre de usuario:</label>
              <input class="form-control" id="exampleInputEmail1" type="text" aria-describedby="emailHelp" placeholder="Ingrese su usuario" name="username">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Contraseña:</label>
              <input class="form-control" id="exampleInputPassword1" type="password" placeholder="Password" name="password">
            </div>
            <div class="form-group">
              <input class="btn btn-primary btn-block" type="submit" value="Ingresar">

            </div>

        </form>
        <div class="text-center">
        <a class="d-block small mt-3"href="{% url 'password_reset' %}">Olvidé mi contraseña</a>
        <a class="d-block small"  href="{% url 'usuario:registrar' %}">Crear cuenta</a>
          <div class="row">
            <div class="text-center">
     <div class="row">
     <div class="col-md-6 col-md-offset-3">
       <div class="form-group">
        </div>
       </div>
   </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
