{% extends 'base/base.html'%}

{% block content %}
<ol class="breadcrumb">
	<li class="breadcrumb-item">
		<a href="{% url 'clientes:clientes_listar' %}">Mascotas</a>
    </li>
        <li class="breadcrumb-item active">Listado de Carnets</li>
</ol>
<div class="card mb-3">
	<div class="card-header"><i class="fa fa-table"></i> Carnets Existentes para {{mascota.nombre}}</div>
	<div class="card-body">
		<div class="table-responsive">
			<table class="table table-bordered" width="100%" cellspacing="0">
				<thead>
					<tr>
						<th>Ciclo</th>
						<th>Codigo</th>
						<th>Dueño(a)</th>
						<th>Acciones</th>
					</tr>
				</thead>
				<tbody>
					{% if carnets %}
					{% for carnet in carnets %}
					<tr>
						<td>{{ carnet.ciclo }}</td>
						<td>{{ carnet.mascota.codigo }}</td>
						<td>{{ carnet.mascota.cliente }}</td>
						<td class="text-center">
							<a class="btn btn-primary" href="{% url 'carnet:carnet_detalle_todo' carnet.id %}"><i class="fa fa-info-circle"></i>   Ver Detalle</a>
							<a class="btn btn-primary" href="{% url 'carnet:carnet_citasProgramadas' carnet.id %}"><i class="fa fa-info-circle"></i>  Citas Futuras</a>
						</td>
					</tr>
					{% endfor %}
					{% else %}
					<h3>No hay Carnets creados :( </h3>
					{% endif %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}