{% extends 'base/base.html'%}

{% block content %}
<ol class="breadcrumb">
	<li class="breadcrumb-item">
		<a href="{% url 'carnet:carnet_listar' %}">Carnets</a>
    </li>
        <li class="breadcrumb-item active">Citas Programadas</li>
</ol>
<div class="card mb-3">
	<div class="card-header"><i class="fa fa-table"></i> Datos de las Citas</div>
	<div class="card-body">
		<div class="table-responsive">
			<table class="table table-bordered" width="100%" cellspacing="0">
				<thead>
					<tr>
						<th>Fecha</th>
						<th>Servicio</th>
						<th>Precio</th>
						<th>Acciones</th>
					</tr>
				</thead>
				<tbody>
					{% if detalles %}
					{% for detalle in detalles %}
					<tr>
						<td>{{ detalle.fecha }}</td>
						<td>{{ detalle.servicio }}</td>
						<td>Q {{ detalle.servicio.precio }}</td>
						<td class="text-center">
							<a class="btn btn-primary" href="{% url 'ventas:ventas_programadas' detalle.id %}"><i class="fa fa-cart-plus"></i>   Realizar Venta</a>
						</td>
					</tr>
					{% endfor %}
					{% else %}
					<h3>No hay Citas Programadas</h3>
					{% endif %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}