{% extends 'base/base.html'%}

{% block content %}
<ol class="breadcrumb">
	<li class="breadcrumb-item">
		<a href="{% url 'carnet:carnet_listar' %}">Carnet</a>
    </li>
        <li class="breadcrumb-item active">Detalle</li>
</ol>
<div class="card mb-3">
	<div class="card-header"><i class="fa fa-table"></i> Servicios para {{carnet.codigoC}}</div>
	<div class="card-body">
		<div class="table-responsive">
			<table class="table table-bordered" width="100%" cellspacing="0">
				<thead>
					<tr>
						<th>Servicio</th>
						<th>Precio</th>
						<th>Fecha</th>
						<th>Estado</th>
					</tr>
				</thead>
				<tbody>
					{% if detalles %}
					{% for detalle in detalles %}
					<tr>
						<td>{{ detalle.servicio }}</td>
						<td>Q {{ detalle.servicio.precio }}</td>
						<td>{{ detalle.fecha }}</td>
						{% if detalle.estado %}
							<td class="text-center">Realizado</td>
						{% else %}
							<td class="text-center">Pendiente</td>
						{% endif %}
					</tr>
					{% endfor %}
					{% else %}
					<h3>No Servicios para este carnet </h3>
					{% endif %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}